body {
	font-size: auto;
	 
}
header{

    background-color: navy;
    text-align: center;
	border-radius: 20px;
}

/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;

}
h1, h2 {
	
	color: #536878;
}

main {
	display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
grid-gap: 2vw;
	font-size: 1.8rem;
	font-family: 'Nanum Gothic', sans-serif;
	padding: 1px;

text-align: center;
}

main section {
	margin: 1.5rem;
	border: 1px solid #bbb;
	padding: 1px;
	background-color: #eee;
	
}
section:nth-child(2) {
	padding-left: 1px;  
	display: none;
	margin: 1.5rem;
	
}
.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		padding-left: 1px;  
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
		padding-left: 1px;  
	}

	main picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	
	}

	section:nth-child(3) {
		padding-left: 1px;  
		grid-column: span 1;
	
	}
}
body{
      
}

h1{
	
    color: white;
    text-align: center;
}

h2{
    text-align: left;
}

body{
    text-align: left;
}

/* #imgsh{
    width: 150px;
        float: right;
        border: 2px ridge rgb(253, 252, 252);
        margin-top: -50px;
        margin-right: 20px;
        border-radius: 20px;
}
*/

#footer{
    
    background-color: navy;
    text-align: center;
    border-radius: 20px;
    height: auto;
    padding-top: 1px;
    color:white;
	font-size: 1.8rem;
	font-family: 	Areal;
}
