table {
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 1px;
    font-size: 1.2rem;
	background-color: #e7f0ed;
	box-shadow: 7px 7px 5px 0px #7fb9c2;
	font-family: 'Ubuntu', sans-serif;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #e7ffed;
}

tr:nth-child(odd) td {

}

caption {
    padding: 10px;
}


