body {
    font-size: 16px;
    color: black;
    font-family: 'Anonymous Pro', monospace;
}

header,footer {
    color: white;
    background-color: navy;
	box-sizing: border-box;
	text-align: center;
	border-radius: 20px;
}


header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    margin: 0 auto;
    max-width: 767px;
}


nav {
    color: white;
    background-color: navy;
    display: block;
	border-radius: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px;
    padding: 1rem 1rem;
    background-color: gray;
	border-radius: 20px;
	font-size: 20px;
    color: white;
}

p {
    margin: 0;
    padding: 1rem 1rem;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: yellow;
    background-color: blue;
    font-weight: 700;
}

.responsive li {
    display: block;
}

header img {
    width: 15%;
    margin: 0;
    height: auto;
}

li a.active {
    color: white;
    background-color: gray;
    font-weight: bold;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {

    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .9rem;
}
/*****div******/

.hero {
    position: relative;
}

.overlay {
    width: 240px;
    height: 220px;
    background-color: #1393d4;
    color: #ffffff;
    opacity: 0.80;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.59);
}

.overlay h2 {
    font-family: 'Playfair Display', serif;
    color: #f7f7f7;
    text-align: center;
    margin: 15px;
}

.overlay li {
    font-size: 120%;
    font-family: 'Quicksand', serif;
}

.townPic {
    width: 100%;
    margin-bottom: 50px;
}

#summary {
    list-style: none;
    text-align: left;
    padding: 20px;
    margin: 0px;
}

hr {
    width: 90%;
    margin: auto;
    padding: 0px;
}

.hero h3 {
    padding: 10px;
    margin: 0px;
}

.forecast {
    display: none;
}

.article {
    background-color: #0692cf;
    margin-top: -40px;
    padding: 20px;
}

.article h1,
h3 {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    color: #f7f7f7;
}

.article p {
    text-align: justify;
    color: #f7f7f7;
    font-family: 'Quicksand', serif;
}

.article img {
    width: 90%;
    padding: 15px;
}

main h1 {
    text-align: center;
    font-family: 'Quicksand', serif;
    color: #0692CF;
    padding: 20px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #032d3f;
    font-family: "Quicksand", sans serif;
}

.contact h4 {
    text-align: center;
    color: #0692cf;
    font-family: "Quicksand", sans serif;
}

.contact img {
    width: 17px;
    margin-bottom: -3px;
    margin-right: 5px;
    font-family: "Quicksand", sans serif;
}

#map {
    display: none;
}

.social img {
    width: 10%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .social {
    margin: auto;
}

